*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


$main-color-brand: #1e2d3b;
$secondary-color-brand: #2e3a46;
$text-primary-color: white;
$text-secondary-color: #757d7b;